@import "src/styles.scss";

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

footer {
  border-top: 1px solid mat-color($light-app-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15%;
  background-color: mat-color($light-app-primary);
}

footer span {
  font-weight: 500;
  color: white;
  position: 50%;
}
