<div class="mat-app-background">
  <div class="container">
    <mat-toolbar color="primary">
      <div class="logo">
        <img src='https://svgshare.com/i/tpx.svg' routerLink="/user"/>
        <span class="logo" routerLink="/user">My Happy Place</span>
      </div>
      <mat-form-field floatLabel="never">
        <input matInput type="text" name="search" placeholder="Pesquisar" [(ngModel)]="search"
          (keyup.enter)="onEnterPress(search)">
        <button matSuffix mat-button routerLink="/search/{{search}}"><mat-icon>search</mat-icon></button>
      </mat-form-field>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <span>My Happy Place &copy; 2023</span>
</footer>
