<div class="user-div">
  <h1>Olá, {{user}}!</h1>
  <button mat-raised-button color="accent" class="watch-button">O que assistir?</button>
</div>

<!-- TODO: Criar exibição dinâmica de cards conforme tamanho de tela, e exibir link "Ver mais" quando precisar -->
<div class="favorites">
  <h2>Seus favoritos:</h2>
  <div class="card-row">
    <app-content-card *ngFor="let item of favorites" [item]="item"></app-content-card>
    <!-- <h2 class="see-all" *ngIf="favorites.length > 5">Ver mais</h2> -->
  </div>
  <mat-divider></mat-divider>

  <h2>Filmes em alta:</h2>
  <div class="card-row">
    <app-content-card *ngFor="let item of trendingMovies" [item]="item"></app-content-card>
    <!-- <h2 class="see-all" *ngIf="trendingMovies.length > 5">Ver mais</h2> -->
  </div>
  <mat-divider></mat-divider>

  <h2>Séries em alta:</h2>
  <div class="card-row">
    <app-content-card *ngFor="let item of trendingTv" [item]="item"></app-content-card>
    <!-- <h2 class="see-all" *ngIf="trendingTv.length > 5">Ver mais</h2> -->
  </div>

</div>
