<div class="content">
  <img mat-card-image src="{{fullImagePath}}" alt="Card image cap" [routerLink]="['/', item.mediaType, item.idTMDB]">
  <div class="details">
    <div class="content-header">
      <section class="name-year">
        <h3 class="name">{{item.name}}</h3>
        <h4 class="year">{{releaseYear}}</h4>
      </section>
      <button mat-icon-button (click)="changeFavoriteStatus()" class="fav-btn">
        <mat-icon class="heart" color="primary">{{favoriteIcon}}</mat-icon>
      </button>
    </div>
    <div class="overview">
      <p>{{item.overview}}</p>
    </div>
  </div>
</div>
