@import "src/styles.scss";

.episode {
  margin-top: 2em;
  display: flex;
  border: 0.2em solid mat-color($dark-primary, 800);
  width: 85%;
  height: 100%;
}

img {
  width: 250px;
  object-fit: cover;
}

.episode-details {
  margin: 1em 1em 0 2em;
  overflow: auto;
}

.episode-details h3 {
  font-size: 1rem;
  font-weight: bold;
}
