<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="content">
  <section class="content-header" *ngIf="content">
    <img mat-card-image src="{{fullImagePath}}" class="poster" (load)="updateDivHeight()">
    <div class="content-details" [style.height.px]="imageHeight">
      <div class="title-favorite">
        <h1>{{content.name}} ({{releaseYear}})</h1>
        <button mat-icon-button (click)="changeFavoriteStatus()" class="fav-btn">
          <mat-icon class="heart" color="primary">{{favoriteIcon}}</mat-icon>
        </button>
      </div>
      <span>{{content.overview}}</span>

      <button mat-raised-button color="primary" class="watch" *ngIf="isTvShow" (click)="pickEpisode()">Escolher
        episódio</button>
      <app-episode *ngIf="chosenEpisode" [episode]="chosenEpisode"></app-episode>

    </div>
  </section>

  <section class="content-row providers">
    <h2>Onde assistir:</h2>
    <span id="unavailable" *ngIf="!providers">{{content.name}} não está disponível para streaming.</span>

    <div *ngIf="providers">
      <img alt="provider" *ngFor="let provider of providers" src="{{provider}}">
    </div>
  </section>

  <section class="content-row" *ngIf="isTvShow">
    <h2>Temporadas:</h2>

    <app-season-panel *ngFor="let season of seasons" [season]="season"></app-season-panel>

  </section>

  <section class="content-row">
    <h2>Similares:</h2>
    <div class="card-row">
      <app-content-card *ngFor="let item of similar" [item]="item"></app-content-card>
    </div>
  </section>

</ng-container>
