@import "src/styles.scss";

:host {
  position: relative;
}

img {
  width: 200px;
  height: 300px;
  border-radius: 5%;
  border-color: mat-color($light-app-primary, 800);
  border-style: solid;
}

.title {
  font-weight: 500;
  color: mat-color($light-app-primary);
  margin: 0 2px 2px;
}

// TODO: Quando inserir botão de curtir,
// fazer clique na imagem acionar curtida
img:hover {
  filter: brightness(40%);
  transition: all 1s ease;
  cursor: pointer;
}

h4 {
  color: rgb(110, 109, 109);
  font-weight: 500;
  font-size: small;
}

.fav-btn {
  position: absolute;
  bottom: 0;
  left: 75%;
}

.heart {
  transform: scale(1.30);
}
